body{
	background:#9f9f9f;
	padding:10px;
}

h1{
	color:white;
	box-shadow: 1px;
	margin:0px 0px 5px 10px;
}

p{
	margin:0px 0px 5px 10px;
}

.list-group#mainlist{
	width:125px;
	padding:1%;
	margin:1%;
	font-size:80%;
	clear:both;
}

#main-nav .nav-link{
	color:white;
}

#main-nav .nav-link:hover{
	color:grey;
	box-shadow:2px;
}

#disabled.disabled{
	color:grey;
}

.tab-content.nav-tabcontent{
	clear:both;
}

.aboutus-title{
	color:white;
}

.googleform{
	padding:1%;
	background:#999;
	width:600px;
	height:1110px;
}

@media screen and (max-width: 1000px) {
    .googleform {
        width:100%;
        padding:1%;
		background:#999;
		height:1110px;


    }
}

footer{
	position:fixed;
	bottom:0;
	width:98%;
	height:5%;
	background:#343a40;
	padding:1% 0%;
	border-radius:10px;
	color:white;
	margin:1px;
}

.footerwords{
	color:white;
	padding: 0px 5px;
	margin:1px;
}

input:hover {
	box-shadow:1px;
	border:1px;

}

input {
	border:1px;
	background:#ffffff;
	padding:3px;
	margin:1px;
	outline:none;
}

.toggle{
	display:none;
}

a {
	list-style-type: none;
	cursor: pointer;
	
}

iframe {
	display:block;
	border-style:none;
	margin:-10px;
	padding:-10px;
	line-height:-5px;
	float:left;
	clear:all;
	width:450px;
	height:1007px;
}

@media screen and (max-width: 1000px) {
	    #navbarhtml {
		display:block;
		border-style:none;
		margin:-10px;
		padding:-10px;
		line-height:-5px;
		height: 167px;
		float:left;
		clear:all;
		width:100%;
	}
}

html, body {
	margin:0px;
}

tr {
	border-color: black;
	border-width: 1px;
}